In [1]:
import pandas as pd

# 예시 데이터프레임 생성
data = {
    '날짜': ['2023-01-01', '2023-01-02', '2023-01-01', '2023-01-02'],
    '도시': ['서울', '서울', '부산', '부산'],
    '온도': [2, 3, 6, 7],
    '습도': [55, 60, 80, 85]
}
df = pd.DataFrame(data)

# '도시'를 기준으로 '날짜'를 인덱스로, '온도'를 값으로 하는 피벗 테이블 생성
pivot_df = df.pivot(index='날짜', columns='도시', values='온도')
print(pivot_df)

도시          부산  서울
날짜
2023-01-01   6   2
2023-01-02   7   3

In [2]:
# 데이터프레임 구조 해체 (melt)
melted_df = pd.melt(df, id_vars=['날짜', '도시'], value_vars=['온도', '습도'])
print(melted_df)

           날짜  도시 variable  value
0  2023-01-01  서울       온도      2
1  2023-01-02  서울       온도      3
2  2023-01-01  부산       온도      6
3  2023-01-02  부산       온도      7
4  2023-01-01  서울       습도     55
5  2023-01-02  서울       습도     60
6  2023-01-01  부산       습도     80
7  2023-01-02  부산       습도     85

In [3]:
# '도시' 레벨을 인덱스로 스택(stack)
stacked_df = pivot_df.stack()
print(stacked_df)

날짜          도시
2023-01-01  부산    6
            서울    2
2023-01-02  부산    7
            서울    3
dtype: int64

In [4]:
# 다시 언스택(unstack)하여 원래 구조로 복원
unstacked_df = stacked_df.unstack()
print(unstacked_df)

도시          부산  서울
날짜
2023-01-01   6   2
2023-01-02   7   3

In [5]:
# 새로운 열 추가
df['날씨'] = ['맑음', '흐림', '맑음', '흐림']
print(df)

           날짜  도시  온도  습도  날씨
0  2023-01-01  서울   2  55  맑음
1  2023-01-02  서울   3  60  흐림
2  2023-01-01  부산   6  80  맑음
3  2023-01-02  부산   7  85  흐림

In [6]:
# '습도' 열 삭제
df_dropped = df.drop(columns=['습도'])
print(df_dropped)

           날짜  도시  온도  날씨
0  2023-01-01  서울   2  맑음
1  2023-01-02  서울   3  흐림
2  2023-01-01  부산   6  맑음
3  2023-01-02  부산   7  흐림

In [7]:
# 특정 행 삭제 (예: 첫 번째 행)
df_dropped_row = df.drop(index=0)
print(df_dropped_row)

           날짜  도시  온도  습도  날씨
1  2023-01-02  서울   3  60  흐림
2  2023-01-01  부산   6  80  맑음
3  2023-01-02  부산   7  85  흐림

In [8]:
# 새로운 데이터프레임 생성
data2 = {
    '날짜': ['2023-01-03', '2023-01-04'],
    '도시': ['서울', '부산'],
    '온도': [5, 8],
    '습도': [70, 75],
    '날씨': ['맑음', '흐림']
}
df2 = pd.DataFrame(data2)

# 행을 기준으로 데이터프레임 병합 (concat)
merged_df = pd.concat([df, df2], ignore_index=True)
print(merged_df)

           날짜  도시  온도  습도  날씨
0  2023-01-01  서울   2  55  맑음
1  2023-01-02  서울   3  60  흐림
2  2023-01-01  부산   6  80  맑음
3  2023-01-02  부산   7  85  흐림
4  2023-01-03  서울   5  70  맑음
5  2023-01-04  부산   8  75  흐림