In [8]:
import pandas as pd

In [9]:
order_items_df = pd.read_csv("order_items.csv")

In [15]:
order_items_df.info()
payment_df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          112650 non-null  object
 1   order_item_id     112650 non-null  int64
 2   product_id        112650 non-null  object
 3   seller_id         112650 non-null  object
 4   price             112650 non-null  float64
 5   shipping_charges  112650 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.2+ MB

np.int64(0)

In [13]:
order_items_df.isnull().sum()

order_id            0
order_item_id       0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [14]:
payment_df = pd.read_csv("payments.csv")

In [16]:
custors_df = pd.read_csv("customers.csv")

In [18]:
custors_df.duplicated().sum()

np.int64(3089)

In [22]:
orders_df = pd.read_csv("orders.csv")

In [23]:
orders_df.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_timestamp        2965
order_estimated_delivery_date       0
dtype: int64

In [24]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_timestamp      96476 non-null  object
 6   order_estimated_delivery_date  99441 non-null  object
dtypes: object(7)
memory usage: 5.3+ MB

In [25]:
products_df = pd.read_csv("products.csv")

In [26]:
products_df.isnull().sum()

product_id                 0
product_category_name    170
product_weight_g           2
product_length_cm          2
product_height_cm          2
product_width_cm           2
dtype: int64

In [27]:
products_df["missing_count"] = products_df.isnull().sum(axis=1)

In [28]:
filterd_df = products_df[products_df["missing_count"] > 0]
filterd_df

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,missing_count
105,a41e356c76fab66334f36de622ecbd3a,NaN,650.0,17.0,14.0,12.0,1
128,d8dee61c2034d6d075997acef1870e9b,NaN,300.0,16.0,7.0,20.0,1
145,56139431d72cd51f19eb9f7dae4d1617,NaN,200.0,20.0,20.0,20.0,1
154,46b48281eb6d663ced748f324108c733,NaN,18500.0,41.0,30.0,41.0,1
197,5fb61f482620cb672f5e586bb132eae9,NaN,300.0,35.0,7.0,12.0,1
...,...,...,...,...,...,...,...
8230,fe34503c6bccf918db601aaafd4a975a,NaN,3000.0,16.0,21.0,19.0,1
8291,0c877471e35049402bca235e06cb8063,NaN,10750.0,34.0,20.0,30.0,1
8332,1574ed2c73e4465c572f68dd77528203,NaN,16000.0,58.0,28.0,58.0,1
8578,09ff539a621711667c43eba6a3bd8466,toys,NaN,NaN,NaN,NaN,4
18851,5eb564652db742ff8f28759cd8d2652a,toys,NaN,NaN,NaN,NaN,4

In [29]:
products_df.duplicated(). sum()

np.int64(0)

In [30]:
customers_df = custors_df.drop_duplicates()

In [32]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96352 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               96352 non-null  object
 1   customer_zip_code_prefix  96352 non-null  int64
 2   customer_city             96352 non-null  object
 3   customer_state            96352 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.7+ MB

In [38]:
customer_df =pd.read_csv("customers.csv")
customers_df = customers_df.drop_duplicates()
orders_items_df = pd.read_csv("order_items.csv")
orders_df = pd.read_csv("orders.csv")
payments_df = pd.read_csv("payments.csv")
products_df = pd.read_csv("products.csv")

In [45]:
merged = pd.merge(orders_df, payments_df, how='left', on='order_id')
merged = pd.merge(merged, customers_df, how='left', on='customer_id')
merged = pd.merge(merged, order_items_df, how='left', on='order_id')
merged = pd.merge(merged, products_df, how= 'left', on='product_id')

In [46]:
merged.duplicated().sum()

np.int64(0)

In [47]:
merged.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 178
order_delivered_timestamp        3422
order_estimated_delivery_date       0
payment_sequential                  3
payment_type                        3
payment_installments                3
payment_value                       3
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
order_item_id                     835
product_id                        835
seller_id                         835
price                             835
shipping_charges                  835
product_category_name            1267
product_weight_g                  855
product_length_cm                 855
product_height_cm                 855
product_width_cm                  855
dtype: int64

In [48]:
merged = merged.dropna()
merged.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_timestamp        0
order_estimated_delivery_date    0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
order_item_id                    0
product_id                       0
seller_id                        0
price                            0
shipping_charges                 0
product_category_name            0
product_weight_g                 0
product_length_cm                0
product_height_cm                0
product_width_cm                 0
dtype: int64

In [49]:
grouped_1 = merged.groupby(by = ["order_id", "order_item_id"]).agg({"price":"mean","shipping_charges":"mean"})

In [51]:
grouped_1 = grouped_1.groupby(by = ["order_id"]). agg({"price":"sum","shipping_charges":"sum"})

In [52]:
grouped_1

                                   price  shipping_charges
order_id
00010242fe8c5a6d1ba2dd792cb16214   58.90             13.29
00018f77f2f0320c557190d7a144bdd3  239.90             19.93
000229ec398224ef6ca0657da4fc703e  199.00             17.87
00024acbcdf0a6daa1e931b038114c75   12.99             12.79
00042b26cf59d7ce69dfabb4e55b4fd9  199.90             18.14
...                                  ...               ...
fffc94f6ce00a00581880bf54a75a037  299.99             43.41
fffcd46ef2263f404302a634eb57f7eb  350.00             36.53
fffce4705a9662cd70adb13d4a31832d   99.90             16.95
fffe18544ffabc95dfada21779c9644f   55.99              8.72
fffe41c64501cc87c801fd61db3f6244   43.00             12.79

[96139 rows x 2 columns]

In [55]:
grouped_2 = merged.groupby(by = ['order_id', 'payment_sequential']).agg({'payment_value':'mean'})
grouped_2 = grouped_2.groupby(by = ['order_id']).agg({'payment_value':'sum'})
grouped_2

                                  payment_value
order_id
00010242fe8c5a6d1ba2dd792cb16214          72.19
00018f77f2f0320c557190d7a144bdd3         259.83
000229ec398224ef6ca0657da4fc703e         216.87
00024acbcdf0a6daa1e931b038114c75          25.78
00042b26cf59d7ce69dfabb4e55b4fd9         218.04
...                                         ...
fffc94f6ce00a00581880bf54a75a037         343.40
fffcd46ef2263f404302a634eb57f7eb         386.53
fffce4705a9662cd70adb13d4a31832d         116.85
fffe18544ffabc95dfada21779c9644f          64.71
fffe41c64501cc87c801fd61db3f6244          55.79

[96139 rows x 1 columns]

In [56]:
grouped_merge = pd.merge(grouped_1, grouped_2, on = "order_id", how = "left")

In [57]:
grouped_merge

                                   price  shipping_charges  payment_value
order_id
00010242fe8c5a6d1ba2dd792cb16214   58.90             13.29          72.19
00018f77f2f0320c557190d7a144bdd3  239.90             19.93         259.83
000229ec398224ef6ca0657da4fc703e  199.00             17.87         216.87
00024acbcdf0a6daa1e931b038114c75   12.99             12.79          25.78
00042b26cf59d7ce69dfabb4e55b4fd9  199.90             18.14         218.04
...                                  ...               ...            ...
fffc94f6ce00a00581880bf54a75a037  299.99             43.41         343.40
fffcd46ef2263f404302a634eb57f7eb  350.00             36.53         386.53
fffce4705a9662cd70adb13d4a31832d   99.90             16.95         116.85
fffe18544ffabc95dfada21779c9644f   55.99              8.72          64.71
fffe41c64501cc87c801fd61db3f6244   43.00             12.79          55.79

[96139 rows x 3 columns]