In [28]:
ls /Users/ohhalim/git_box/til/ml/titanic.csv

/Users/ohhalim/git_box/til/ml/titanic.csv

In [32]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split



file_path = "/Users/ohhalim/git_box/til/ml/titanic.csv"
df = pd.read_csv(file_path)

print(df.head())
print(df.info())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [34]:

# 데이터 로딩  # 실제 파일 경로로 변경해주세요


# 불필요한 컬럼 제거
df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

# 결측치 처리
imputer = SimpleImputer(strategy='mean')
df['Age'] = imputer.fit_transform(df[['Age']])

# 가장 빈도가 높은 값으로 'Embarked' 결측치 채우기
most_frequent_embarked = df['Embarked'].mode()[0]
df['Embarked'] = df['Embarked'].fillna(most_frequent_embarked)

# 범주형 변수 인코딩
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['Embarked'] = le.fit_transform(df['Embarked'])

# 원-핫 인코딩
df = pd.get_dummies(df, columns=['Pclass'])

# 특성 스케일링
scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

# 데이터 분할
X = df.drop('Survived', axis=1)
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.head())
print(y_train.head())

     Sex       Age  SibSp  Parch      Fare  Embarked  Pclass_1  Pclass_2  \
331    1  1.215947      0      0 -0.074583         2      True     False
733    1 -0.515526      0      0 -0.386671         2     False      True
382    1  0.177063      0      0 -0.488854         2     False     False
704    1 -0.284663      1      0 -0.490280         2     False     False
813    0 -1.823750      4      2 -0.018709         2     False     False

     Pclass_3
331     False
733     False
382      True
704      True
813      True
331    0
733    0
382    0
704    0
813    0
Name: Survived, dtype: int64